*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Osawald';
}
a{
    text-decoration: none;
}
@font-face {
    font-family: 'Osawald';
    src: url(font/Oswald-VariableFont_wght.ttf);
}
.container{
    width: 1200px;
    margin: 0 auto;
    height: auto;
}
.active{
    color: #F28123;
}
.row{
    width: 100%;
    display: flex;
}
.text-center{
    text-align: center;
}
.space-between{
    justify-content: space-between;
}
p{
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    color: rgb(132, 132, 132);
    margin-top: 5px;
}
/* CSS LOGIN,LOGOUT */
.header{
    margin: 30px 0px;
    position: relative;
}
.container h1{
    color: black;
}
.a-section{
    width: 400px;
    height: auto;
    margin:0 auto;
    margin-top: 30px;
}
.a-box{ 
    border: 0.5px solid rgb(195, 195, 195);
    border-radius: 8px;
    height: auto;
    padding: 20px 26px;
    box-shadow: rgb(228, 228, 228) 0px 0px 15px;
}
form h1{
    font-size: 28px;
    font-weight: 400;
    margin: 10px 0px;
}
.form-group{
    display: flex;
    border-bottom: 0.5px solid rgb(195, 195, 195);
    margin:10px 0px 5px 0px;
}
input:focus{
    outline: none;
}
.form-group i{
    padding-top: 8px;
    font-size: 18px;
}
.form-group input{
    width: 100%;
    padding: 5px 0px 5px 10px;
    font-size: 14px;
}
.forgot{
    float: right;
    font-size: 14px;
    color: #0066c0;
    text-decoration: underline;
}
.forgot:hover{
    color: red;
}
.check-input{
    color: red;
}
.btn-submit{
    width: 100%;
    background: #ffd363;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    padding: 8px 0px;
    margin: 30px 0px;
}
.btn-submit:hover{
    background: #f4c244;
}
.box-text{
    width: 100%;
    display: flex;
    margin: 15px 0px;
}
.line{
    width: 35%;
    height: 0.5px;
    background-color: rgb(195, 195, 195);
    margin-top: 18px;
}
.text2{
    width: 30%;
    font-size: 14px;
}
.btn-create{
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 8px 0px;
    border: 0.5px solid rgb(195, 195, 195);
    cursor: pointer;
}
.btn-create:hover{
    background-color: rgb(244, 244, 244);
}
.footer{
    width: 100%;
    padding-bottom: 150px;
    background-color: rgb(244, 244, 244);
}
.box-text-footer{
    width: 33.33%;
}
.box-text-footer a{
    color: #0066c0;
    font-size: 12px;
    justify-content: center;
}
.text-footer{
    text-align: center;
    font-size: 19px;
}
/* CSS REGISTER PAGE */
.line2{
    width: 100%;
    height: 0.5px;
    display: block;
    background-color: rgb(195, 195, 195);
}
.row span{
    color: #0066c0;
    margin-left: 5px;
}
.row span:hover{
    text-decoration: underline;
}
/* End REGISTER PAGE */
/* END CSS LOGIN,LOGOUT */

@media only screen and (max-width: 46.1875em){
    .container{
        width: 100%;
    }
    .a-section{
        width: 100%;
        padding: 0px 50px;
    }   
}
@media only screen and (min-width: 46.25em) and (max-width: 75em) {
    .container{
        width: 100%;
    }
    
}